@import 'basic.less';
@import 'helper.less';

.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.pageHeader {
	padding-top: 10px;
	border-bottom: 1px solid #B1B1B1;
}
.logo {
	font-size: 48px;
	color: #0090D4;
	float: left;
	text-decoration: none;
	&:visited, &:hover, &:active {
		color: #0090D4;
	}
}

.topMenus {
	float: right;
}

.menuItem {
	display: inline-block;
	margin: 20px 10px;
	text-align: center;
	a {
		display: block;
		line-height: 1;
		text-decoration: none;
		color: black;
		position: relative;
	}
	cite {
		font-size: 12px;
		font-style: normal;
		color: #989898;
	}
	&.active a, a:hover {
		color: #018ED2;
	}
	&.active a:before {
		position: absolute;
		left: 50%;
		top: -28px;
		font-size: 32px;
		margin-left: -10px;

		content: '\e801';
		font-family: "webicons";
		color: #018ED2;
	}
}

.showPic-swiper-container {
	height: 200px;
	position: relative;
}

.picThumbs {
	position: relative;
	width: 500px;
	padding: 0 40px;
	margin-top: 20px;
	.thumbNavs {
		width: 100%;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -18px;
		a {
			position: absolute;
			width: 25px;
			height: 25px;
			font-size: 24px;
			cursor: pointer;
		}
		a.moveLeft {
			left: 0;
		}
		a.moveRight {
			right: 25px;
		}
	}
}
.picThumb-swiper-container {
	width: 100%;
	height: 65px;
	overflow: hidden;
	.swiper-wrapper {
		display: inline-block;
	}
	.swiper-slide {
		display: inline-block;
		img {
			width: 90px;
			height: 60px;
			cursor: pointer;
		}
		&.active img {
			border: 1px solid;
		}
	}
}